[Unit]
Description=NGINX web server at IP %i

Requires=docker.service

After=docker.service

[Service]
Type=simple

TimeoutStartSec=0

KillMode=none

EnvironmentFile=/etc/environment

ExecStartPre=/usr/bin/docker create \
    --name nginx \
    -p %i:80:80/tcp \
    -p %i:8000:8000/tcp \
    yuanmodu/arm64v8-alpine-nginx
ExecStart=/usr/bin/docker start -a nginx

ExecStop=/usr/bin/docker stop nginx
ExecStopPost=/usr/bin/docker rm nginx

[Install]
WantedBy=multi-user.target
