[Unit]
Description=Containerized Alpine NSD name server at LAN IP %i: build docker image

Requires=docker.service

After=docker.service
BindsTo=docker-alpine-nsd@%i.service

[Service]
Type=oneshot

RemainAfterExit=yes

TimeoutStartSec=0

ExecStart=/usr/bin/bash -c '\
    set -e -o pipefail; \
    DIR=$(mktemp -d); \
    git clone https://github.com/YuanModu/Dockerfile.git $DIR; \
    docker build --pull yuanmodu/arm64v8-alpine-nsd \
    	$DIR/arm64v8/alpine/nsd/build/ || rm -r $DIR; \
    rm -r -f $DIR'

ExecStop=/usr/bin/docker rmi yuanmodu/arm64v8-alpine-nsd
