[Unit]
Description=NSD name server at IP %i

Requires=docker.service
Requires=nsd-build@%i.service

After=docker.service
After=nsd-build@%i.service

[Service]
Type=simple

TimeoutStartSec=0

KillMode=none

EnvironmentFile=/etc/environment

ExecStartPre=/usr/bin/docker create \
    --name nsd \
    -p %i:53:53/tcp \
    -p %i:53:53/udp \
    yuanmodu/arm64v8-alpine-nsd
ExecStart=/usr/bin/docker start -a nsd

ExecStop=/usr/bin/docker stop nsd
ExecStopPost=/usr/bin/docker rm nsd

[Install]
WantedBy=multi-user.target
