[Unit]
Description=Containerized Alpine NGINX web server at LAN IP %i

Requires=docker.service

After=docker.service

[Service]
Type=simple

TimeoutStartSec=0

KillMode=none

ExecStartPre=/usr/bin/docker create \
    --name nginx \
    -e NGINX_DOMAIN_NAME="${NGINX_DOMAIN_NAME}" \
    -e NGINX_UPSTREAM_SERVERS="${NGINX_UPSTREAM_SERVERS}" \
    -p %i:80:80/tcp \
    -p %i:8000:8000/tcp \
    yuanmodu/alpine-nginx
ExecStart=/usr/bin/docker start -a nginx

ExecStop=/usr/bin/docker stop nginx
ExecStopPost=/usr/bin/docker rm nginx

[Install]
WantedBy=multi-user.target
